@(searchForm: Form[String])

@import helper._

@main(title = "Statistics") {

	<section>
	<!-- <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
	
    <h1>Get Statistics for an Item you want!</h1>

    @form(action = routes.Application.search, args = 'id -> "searchform") {

        @inputText(
            field = searchForm("q"),
            args = '_label -> "Search your item", 'placeholder -> "ipad"
        )
		
        <p class="buttons">
            <input class="btn btn-primary btn-large" type="submit" id="submit">
        <p>
        
        

    }
    
    </section>

}
