@(searchForm: Form[String])

@import helper._

@main(title = "Statistics") {

<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Get Statistics for an Item you want!</h1>
        
        <div class="hero-unit-stuff" style="text-align: center">
	        @form(action = routes.Application.search, args = 'id -> "searchform") {
	
	        @inputText(
	            field = searchForm("q"),
	            args = '_label -> "Search your item", 'placeholder -> "ipad"
	        )
			
	        <p class="buttons">
	            <input class="btn btn-primary btn-large" type="submit" id="submit">
	        <p>
	
	    	}
    	</div>

    </div>
}
